/* Header*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: black;
  padding: 4rem 0 0.5rem 1.5rem;
}
header h1 {
  color: white;
  line-height: 0.5rem;
  background-color: black;
}
header h3{
  color: darkgrey;
  font-size: 1rem;
  background-color: black;
}
h1, h2, h3 {
  font-weight: normal;
}


/* Nav and A */
a {
  color: red;
  font-size: 0.9rem; 
  text-decoration: underline;
}
header a {
  float: right;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
nav {
  background-color: lightgrey;
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  padding: 0.4rem;
}
nav a {
  color: darkmagenta;
  text-decoration: underline;
  font-size: 0.9rem; 
}

/* About Main */
.about-story, aside {
  color: black;
  font-size: 1rem;
  line-height: 1.4rem;
  background-color:white;
  box-sizing: border-box;
  margin: 0;
  padding: 2rem 0 3rem 0.5rem;
  width: 100%;
}
main section {
  box-sizing: border-box;
  float: left;
  margin: 0;
  padding: 0 1rem 0 1rem;
  width: 65%;
}
.story-paragraph{
  text-align: left
}
.testimonilas p {
  font-style: italic;
}
.about-story h2 {
  font-size: 1.4rem;
}


/* About Aside */
aside {
  border: 0.1rem solid black;
  box-sizing: border-box;
  margin: 0 1rem 1rem 1rem;
  overflow: hidden;
  padding: 0 0 0.7rem 0;
  position: relative;
  text-align: right;
  width: 33%; 
}
aside section {
  width: 100%;
  }
aside figure {
  margin: auto;
}
aside figcaption {
  text-align: center;
}
aside h3 {
  text-align: center;
  margin: 0.7rem;
}
aside p {
  float: left;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0.2rem 0 0 0;
  text-align: left;
  width: 50%;
}
img {
  height: auto;
  max-width: 100%;
  width: auto; 
}

/* rates.html */
.pricing h2, .pricing h3, .pricing-rate h2{
  font-size: 2rem;
  font-weight: bold;
}
.princing-info p{
  font-size: 1.4rem;
  
}

/* about.html */

main{
  color: black;
  font-size: 1rem;
  line-height: 1.4rem;
  background-color:white;
  box-sizing: border-box;
  margin: 0;
  padding: 2rem 0 3rem 0.5rem;
  width: 100%;
}
.about-kitties h2{
  font-size: 2rem;
  font-weight: bold;
}
.about p{
  font-size: 1.4rem;
}

/* Footer */
footer {
  background-color:black;
  clear: both;
  font-size: 0.8rem;
  line-height: 0.3rem;
  padding: 0.6rem 0 0.4rem 0.6rem;
}
footer a {
  font-size: 0.8rem;
}
footer p {
  color: white;
}
.footer-copyright {
  text-align: center;
}

